{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="all_posts">
        <h3>{{ follow_user }} Following</h3>
        {% for post in posts %}
        <div class="each_post" id={{post.id}}>
                    <a class=poster_name href="{% url 'profile' post.poster.id %}"><h5>{{ post.poster }}</h5></a>
                    <p>{{ post.post_txt }}</p>
                    <p id="post_time">posted: {{post.timestamp}} 
                    <br>
                
                    <div id="postLikes">
                    {% if user.is_authenticated %}
                        {% if request.user == post.poster %}
                            <a class="like_heart" id="like{{post.id}}" data-like-action="unlike">&#9825;</a><span id="like_num{{post.id}}">Likes {{ post.num_likes }}</span>
                        {% else%}    
                            {% if request.user in post.likers.all %}
                                <a class="like_heart" id="like{{post.id}}" data-like-action="unlike" onclick="change_like('{{ post.id }}', '{{ request.user }}', this)">&#9829;</a><span id="like_num{{post.id}}">Likes {{ post.num_likes }}</span>
                            {% else %}
                                <a class="like_heart" id="like{{post.id}}" data-like-action="like" onclick="change_like('{{ post.id }}', '{{ request.user }}', this)">&#9825;</a><span id="like_num{{post.id}}">Likes {{ post.num_likes }}</span>
                            {% endif %}

                        {% endif %}
                    {% else %}
                            <a class="like_heart" id="like_not_logged" href="{% url 'profile' post.poster.id %}">&#9825;</a><span id="like_num{{post.id}}">Likes {{ post.num_likes }}</span>
                    {% endif %}
                    </div>    
        </div>       
        {% endfor %}    
        </div>

        <div class="pagination">
            <span class="step-link">
                {% if page_obj.has_previous %}
                    <a href = "?page=1">&laquo; first </a>
                    <a href = "?page={{ page_obj.previous_page_number }}"> previous </a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>

    </div>
    {%endif%}

{% endblock %}